body {
    background: url('../img/stripes-light.png');
}

/*
.banner {
    width:100%;
    padding-top:80px;
    padding-bottom:60px;
    background-size:cover;
    margin-bottom: 20px;
}
.banner-main {
    background:url(../img/blurredbkg.jpg);
    color:rgba(255,255,255,.7);
    background-size:cover
}
*/

.r-jumbo {
    padding-top: 3em !important;
    padding-bottom: 3em!important;    
}

.flattext {
    
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    color: rgb(34, 34, 34);

}

.flattext-main {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: inherit;
}

.flattext-back {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.flattext:hover {
    background: #0000000B;
    text-decoration: none;
}

.flattext:active {
    background: #00000020;
}

.menuitem, .menuclaim {
    cursor: pointer;
}
.menu-font-lg {
    font-size: 32px;
}

.menu-font-medium {
    font-size: 24px;
}

.menu-font-small {
    font-size: 14px;
}

.radio-hidden {
    display: none;
}

.form-control {
    resize: none;
}

