{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="jumbotron r-jumbo">
            <h2>Электронное заявление на материальную помощь</h2>
            <h4>РУТ ИУЦТ</h4>
            <h2> &nbsp </h2>

            <form action="setdata/" method="GET">
                <!--              {% csrf_token %}-->
                <div class="form-group col-md-2">
                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="radio btn btn-outline-dark active" data-need-message="1">
                                <input type="radio" class="radio-hidden" name="chooseDoc" value="1" checked />Мат. помощь
                            </label>
                            <label class="radio btn btn-outline-dark" data-need-message="0">
                                <input type="radio" class="radio-hidden" name="chooseDoc" value="2" />Мат. помощь (общежитие)
                            </label>
                        </div>
                    </div>
                </div>

                <h6>Фамилия, имя и отчество заполняются в именительном падеже. </h6>

                <!-- maxlength="15" -->

                <div class="form-row">

                    <div class="form-group col-md-6">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="far fa-user"></i></div>
                            </div>
                            <!-- pattern="[А-Яа-яЁё]{,20}" -->
                            <input type="text" tabindex="1" maxlength="20" class="form-control" name="surname" placeholder="Иванов" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6 order-2">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="far fa-user"></i></div>
                            </div>
                            <input type="text" tabindex="2" maxlength="20" class="form-control" name="name" placeholder="Иван" required>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                      <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class="far fa-user"></i></div>
                          </div>
                          <input type="text" tabindex="3" maxlength="20" class="form-control" name="lname" placeholder="Иванович" required>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <label class="input-group-text" for="gender"><i class="fas fa-male"></i><i class="fas fa-female"></i></label>
                          </div>
                          <select class="custom-select" tabindex="4" name="gender">
                              <option value="1">Мужской</option>
                              <option value="0">Женский</option>
                          </select>
                      </div>
                  </div>


                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fas fa-hashtag"></i></div>
                          </div>
                          <input type="text" tabindex="5" maxlength="7" pattern="[А-Яа-яЁё]{3}-[1-5]{1}[1-9]{2}" class="form-control" name="group" placeholder="УИБ-123" required>
                      </div>
                  </div>
                  <div class="form-group col-md-6">
                      <div class="input-group mb-4 mr-sm-4">
                          <div class="input-group-prepend">
                              <div class="input-group-text"><i class="fas fa-phone"></i></div>
                          </div>
                          <input type="text" tabindex="6" maxlength="11" pattern="[0-9]{11,}" class="form-control" name="number" placeholder="89031234567" required>
                      </div>
                  </div>



                </div>

                <div id="message-row" class="form-row">
                    <div class="form-group col-md-12">
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="far fa-comment"></i></div>
                            </div>
                            <select class="custom-select" tabindex="7" name="typeconcession">
                                <option value="0">Студент-сирота</option>
                                <option value="1">Студент-инвалид</option>
                                <option value="2">Студент, имеющий детей</option>
                                <option value="3">Студент из многодетной семьи</option>
                                <option value="4">Студент-участник военных действий</option>
                                <option value="5">Студент-чернобылец</option>
                                <option value="6">Студент, имеющий родителей-инвалидов, родителей-пенсионеров</option>
                                <option value="7">Студент из неполной семьи</option>
                                <option value="8">Студент из малоимущей семьи</option>
                                <option value="9">Студент, находящийся на диспансерном учёте с хроническими заболеваниями</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" tabindex="8" class="btn btn-outline-dark mb-2 btn-lg">Отправить</button>
                </div>


            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'js/mainpage.js' %}"></script>
</body>

</html>
